<div class="new-top">
  <h2 class="title">
  新規登録
  </h2>
</div>
<div class="form">
<%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |f|%>
        <%= devise_error_messages!%>
        <div class="new-link">
          <button><%= link_to "登録済の方はこちら", root_path, class: 'link'%></button>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :名前%>
          </div>
          <div class='field-input'>
            <%= f.text_field :name, autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :メールアドレス%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :パスワード%>
            <i>(英数字6文字以上)</i>
          </div>
          <div class='field-input'>
            <%= f.password_field :password, autocomplete: "off"%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :パスワード確認%>
          </div>
          <div class='field-input'>
            <%= f.password_field :password_confirmation, autocomplete: "off"%>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "アカウント作成", class: 'btn'%>
        </div>
    <% end %>
</div>

