<div class="wrapper">
  <div class="top-button">
    <%= render partial:"layouts/top_button" ,locals: { title: "ここは電話帳"  }%>
  </div>

<% if user_signed_in? && current_user.id.to_s == params[:id] %>
<div class="profile">
  <div class="icon">
    <% if @user.image.attached? %>
      <%= image_tag @user.image.variant(resize: '500x500'), class: 'icon_img'%>
    <% else %>
      <%= image_tag("default-icon.png", class: :icon_img) %>
    <% end %>
  </div>  
  <div class="my-name">
    <%= current_user.name %>
  </div>
</div>
<div class="friends">
  <div class="friends-count">友達 24人
  </div>
  <div class="profile">
    <div class="icon">
      <% if @user.image.attached? %>
      <%= image_tag @user.image.variant(resize: '500x500'), class: 'icon_img'%>
      <% else %>
      <%= image_tag("default-icon.png", class: :icon_img) %>
      <% end %>
    </div>  
    <div class="my-name">
      <%= current_user.name %>
    </div>
  </div>
  <div class="profile">
    <div class="icon">
      <% if @user.image.attached? %>
      <%= image_tag @user.image.variant(resize: '500x500'), class: 'icon_img'%>
      <% else %>
      <%= image_tag("default-icon.png", class: :icon_img) %>
      <% end %>
    </div>  
    <div class="my-name">
      <%= current_user.name %>
    </div>
  </div>
</div>
<% else %>
<div class="search">
</div>
<% end %>

<div class="under-button">
    <%= render "layouts/under_button" %>
</div>