<div class="top-button">
  <%= render partial:"layouts/top_button" ,locals: { title: "ここは話をするところ"  }%>
</div>

<div class="main-room">
  <div class="rooms">
    <% @other_user.reverse.zip(current_user.rooms.reverse) do |user,room| %>
    <%= link_to room_messages_path(room, anchor:'u') do %>
      <div class="room">
        <div class="icon">
          <% if user.image.attached? %>
            <%= image_tag user.image.variant(resize: '500x500'), class: 'icon_img'%>
          <% else %>
            <%= image_tag("default-icon.png", class: :icon_img) %>
          <% end %>
        </div>
      
        <div class="room-right">
          <div class="room-name">
            <%= user.name %>
          </div>
          <div class="room-message">
            <% if room.messages.present?%>
             <%= room.messages.pluck(:content).pop.truncate(20)%>
             <%else%>
             <%="　"%>
             <%end%>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
  </div>
</div>

<div class="under-button">
  <%= render "layouts/under_button" %>
</div>